# Python Basics

### level 01 
- variables 
- input output
- operators 
- datatypes

### level 02 
- conditional statements 
    - if 
    - ifelse
    - elif
    - match
- loops
    - for 
    - while
- functions

### level 03
- string
- dict
- list
- set and tuple

In [2]:
age = 18
is_married = False
name = 'sagar'
value = 1.732

In [3]:
x = 100000000000000000000000000000000000000000000000000000

In [4]:
print (x)

100

In [5]:
type (x)

int

In [11]:
x = 10 ** 42
print (x)

1000000000000000000000000000000000000000000

In [12]:
x = 1.10
y = 1.0
z = -35.59
t = 87.7e100

In [15]:
name = 'bruce wayne 01'
colour = 'yellow'
Institute = 'digipodium'

In [17]:
is_coding = True
is_fun = True
are_u_bored = False

In [19]:
x = None

In [21]:
a = [5,10,15,20,25]
vals = [1,2.2, 'python']
colors = ['red' , 'yellow' , 'green' ]

In [23]:
a = ( 5,10,15,20,25)
vals = (1,2.2, 'python')
colors = ('red' , 'yellow' , 'green' )

In [24]:
a = { 5,10,15,20,25}
vals = {1,2.2, 'python'}
colors = {'red' , 'yellow' , 'green' }

In [1]:
car_info = { 
    'brand' : 'ford',
    'modal' : 'mustang',
    'year': 1964
    
}

In [28]:
x = 10
y = 3

In [29]:
x+y

13

In [ ]:
print (x+y)
print (x-y)
print (x * y)
print (x / y)    
print (x // y)
print (x % y)
print ( x ** y)

In [31]:
2 ** 3 + 5 // 3

9

In [34]:
(3 + 2) * (5 * 3)  /(3*5)

5.0

In [35]:
a = 100  # a will get 100
a += 15  # add 15 to existing value of a
a -= 10  # remove 10 from existing value of a

In [36]:
a *=10 # multiply 10 with current value of a 
a %= 5 # store remainder in a aftre divided current value of 5
print (a)

0

# comparison operators

In [40]:
x = 10
y = 3

In [41]:
print (x > y)
print (x < y)
print ( x == 100)
print ( x!= 30)
print (x >= 50)
print ( y <= 20)

True
False
False
True
False
True

# logical operators for multiple conditions

In [42]:
print ('hello' == 'hellow')
print ('Hi ' != 'HI')
print ('this' == 'that')

False
True
False

In [2]:
a = 15 
b = 20

In [5]:
a > 10 and b  > 10

True

In [6]:
a > 10 or b > 10

True

any value other than 0 is True

In [8]:
bool(10)  #true

True

In [9]:
bool(0)  #False

False

empty string is taken as False

In [12]:
name = input ('enter name')
bool(name)

False

In [7]:
not a

False

membership operator 'in' and 'not in'

In [16]:
x = [22 , 52 , 99 , 100 , 54 , 85 ]

In [17]:
51 in x

False

In [18]:
60 in x

False

In [19]:
54 in x

True

In [20]:
100 not in x

False

user inpur 'input (prompt)' => 'sting'

typr casting -> convert one datatype to another
...
int() -> convert data into integer
float() -> convert data into float
str() -> convert data into string 
list() -> convert data into list
typle () -> convert data into tuple
bool () -> convert data into boolean
set ()  -> convert data into set
dict ()  -> convert data into dictionary

In [24]:
int(1.111)

1

In [25]:
int(True)

1

In [26]:
int (10.001)

10

In [29]:
int (False)

0

In [5]:
int ('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [31]:
str ( 10)

'10'

In [1]:
name = input ('enter a name')
phone = input ('enter phone num')
age = int (input('enter age'))

In [2]:
p = int (input ('principle amt'))
r = float (input ('rate of interest:'))
t = int (input ('time in years:'))
si = p * r * t / 100

print (si)

print(f'principle {p}')
print(f'rate of interest {r}')
print (f'time {t}')
print (f'simple interest {si}')

500.0
principle 5000
rate of interest 5.0
time 2
simple interest 500.0

In [ ]:
#  wap to calc area and circumfernce of circle using diameter as input

In [1]:
diameter = int (input('enter diameter'))
radius = diameter / 2

area = 3.14 * radius * radius
circum = diameter* 3.14

print (area)
print (circum)

153.86
43.96

In [4]:
y = input ('your name:')
x = int(input('how many medals:'))
print(f'{y} got {x} medals')

sk got 5 medals