In [2]:
# Accesssing string characters in Pyhton

string = 'digipodium'

# first character 
print ('string[0] = ' , string[0])

# second character 
print ('string[1] =' , string[1])

# third character 
print ('string[-1] =' , string [-1])

# second last character
print ('string [-2] = ' ,  string [-2])

string[0] =  d
string[1] = i
string[-1] = m
string [-2] =  u

## Slicing

In [6]:
alphabets = "abcdefghijklmnopqrstuvwxyz"
len(alphabets)

26

syntax

s[start : end : step]
s[:end]  # from 0 to  end
s[start:] # from start to end

In [7]:
alphabets[6:-6]

'ghijklmnopqrst'

In [11]:
alphabets[-14:-2]

'mnopqrstuvwx'

In [16]:
alphabets [12 : -2]

'mnopqrstuvwx'

In [17]:
first_five = alphabets [:5]  # first five characters 
last_five = alphabets [-5:]  # last five characters
x=10
high_five = alphabets [x:x+5]  # 5 characters starting at index 10
print (first_five ,  last_five  , high_five)

abcde vwxyz klmno

In [19]:
every_even_index = alphabets [::2]  # every other character
print (every_even_index)

acegikmoqsuwy

In [20]:
every_odd_index = alphabets [1::2]  # every other character
print (every_odd_index)

bdfhjlnprtvxz

In [25]:
name = 'sagarkumar'
name_even = name[::2]
name_odd = name [1::2]
rev_name = name [::-1]  
print (name_even , name_odd , rev_name , sep='\n')

sgrua
aakmr
ramukragas

In [37]:
print (ord('A'))
print (ord('B'))
print (ord('C'))
print (ord('😁'))
print (ord('😍'))
print (ord('0'))

65
66
67
128513
128525
48

In [11]:
print(chr(128513))
print(chr(66))
print(chr(48))
print(chr(128515))
print(chr(67))

😁
B
0
😃
C

In [10]:
word =  'hi'
print ( word * 10)

hihihihihihihihihihi

In [31]:
for i in range (1,30,2):
    print( (i * ' *' ).center(57))

                             *
                           * * *
                         * * * * *
                       * * * * * * *
                     * * * * * * * * *
                   * * * * * * * * * * *
                 * * * * * * * * * * * * *
               * * * * * * * * * * * * * * *
             * * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [28]:
#  string is always immutable 

name[0] = 'X'   # error

TypeError: 'str' object does not support item assignment